body {
  background-color: #f7f7f7;
  color: #222;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.converter {
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 340px;
}

.converter h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
}

select, input {
  width: 100%;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #222;
  font-size: 14px;
}

select:focus, input:focus {
  outline: none;
  border-color: #3a82f7;
  background: #fff;
}

/* Флаги и текст */
option {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-size: 20px 15px;
  background-position: left center;
}

button {
  width: 100%;
  padding: 10px;
  background: #3a82f7;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #5a9cff;
}

.rate {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}
